---
import Layout from '../layouts/Layout.astro';
import StatsPreviewCard from '../components/StatsPreviewCard.astro';
---

<Layout title="Stats Preview">
	<main class="flex items-center justify-center min-h-screen">
		<StatsPreviewCard />
	</main>
</Layout>

